<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/users/<%=rows.id%>/addsubject" method="post">
      <select class="" name="SubjectId">
        <option>>--select subject--<</option>
        <%sub.forEach(subject=>{%>
          <option value="<%= subject.id %>"><%=subject.subject_name%></option>
          <%})%>
      </select>
      <button type="submit" name="button">ADD</button>
    </form>
  </body>
</html>
