<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> E-Learning </title>
</head>

<body>
    <h1> Login </h1>
    <form method="post" action="submit">
        <tr>
            Email : <br>
            <input type="text" name="email" placeholder="Email" required><br>
            Password : <br>
            <input type="password" name="password" placeholder="Password" required ><br><br>
            <input type="submit" name="Login" value="Log In" ><br><br>
        </tr>
    </form>
    <td> Don't Have Account ? </td>
    <a href = "/signup">
    <button type="button"  > Sign Up </button> 
    </a>
</body>
</html>